.boxiconContainer{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(75, 49, 75, 0.636);
  margin-bottom: 50px;
  gap: 20px;
  padding: 20px;
  .titlebox{
    h1{
      padding-left: 10px;
      padding-top: 10px;
      font-weight: 500;
      font-size: 20px;
      margin: 0;
      text-transform: uppercase;
      svg{
        fill: #757b80;
        margin-right: 5px;
        width: 25px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .list{
    display: flex;
    img{
      cursor: pointer;
      width: 40px;
      margin-right: 10px;
    }
  }
}