@import '../../../variables.scss';

.previewContainer{
  margin: 5px;
  height: 87vh;
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px;
  word-wrap: break-word;
  h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
  }
  h4{
    margin: 0;
    font-size: 25px;
  }
  p{
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.712);
  }
  ul{
    li{
      color: rgba(255, 255, 255, 0.712);
      a{
        color: rgb(85, 85, 170);
      }
    }
  }

  .skill{
    width: 100%;
    img{
      margin-right: 10px;
      width: 45px;
    }
  }
  .social{
    width: 100%;
    img{
      margin-right: 10px;
      width: 45px;
    }
  }
}

.previewContainer::-webkit-scrollbar {
  background-color: $color-web-one;
  border-radius: 5px;
}
.previewContainer::-webkit-scrollbar-thumb {
  background-color: $line-color;
  border-radius: 10px;
}