.readme{
  display: flex;
  flex-direction: column;
  padding: 20px;
  .chooseOptions{
    display: flex;
    gap: 20px;
    .grey{
      width: 150px;
      padding: 8px;
      background-color: grey;
    }
    .original{
      padding: 8px;
      width: 150px;

    }
  }
}