.readme{
  display: flex;
  flex-direction: column;
  padding: 20px;
  .chooseOptions{
    display: flex;
    .grey{
      text-align: center;
      width: 10%;
      margin: 0px 10px;
      padding: 8px;
      background-color: grey;
    }
    .original{
      margin: 0px 10px;
      padding: 8px;
      text-align: center;
      width: 10%;
    }
  }
}