@import '../../../variables.scss';
.btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: $color-web-one;
  font-weight: 300;
  transition: 0.2s;
}

.btn:hover{
  background-color: $color-hover;
}