@import "../../../variables.scss";
.introContainer {
  display: flex;
  flex-direction: column;
  .titleSection {
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid $line-color;
    h1 {
      font-size: 40px;
      margin: 0;
    }
    p {
      font-size: 15px;
      font-weight: 300;
      margin: 0;
    }
    .divBtn{
      margin-top: 10px;

      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      .btn{
        text-align: center;
      
        padding: 5px;
      }
    }
  }

  .fillFields {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    .field{
      width: 100%;
      margin-bottom: 25px;
      p{
        font-size: 13px;
        margin-top: 0;
        margin-bottom:  10px;
        margin-left: 5px;
        span{
          margin-right: 3px;
          font-size: 16px;
        }
      }
    }
    h1{
      text-transform: capitalize;
      margin: 0;
    }
    .divBtn{
      margin-top: 10px;

      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      .btn{
        text-align: center;
      
        padding: 5px;
      }
    }
  }

  .fillFields::-webkit-scrollbar {
    background-color: $color-web-one;
    border-radius: 10px;
  }
  .fillFields::-webkit-scrollbar-thumb {
    background-color: $line-color;
    border-radius: 20px;
  }
}
