@import "../../../variables.scss";

.headerContainer {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  right: 0;
  border-bottom: 1px solid $line-color;
  max-width: 100%;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  align-items: center;
  background-color: $backgroundSite;
  padding: 0 20px;
  justify-content: space-between;
  .leftHeader {
    h2 {
      margin: 0;
      font-size: 30px;
      a {
        text-decoration: none;
      }
      span {
        color: $color-web-one;
      }
    }
  }

  .rightHeader {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      .btn {
        margin-right: 30px;
        text-decoration: none;
        padding: 5px;
        font-size: 15px;
      }
      a:nth-child(2) {
        cursor: pointer;
        padding-top: 10px;
        font-size: 30px;
      }
    }
  }
}
