@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  color: white;
  font-family: 'Heebo', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $backgroundSite ;
}

body::-webkit-scrollbar {
  background-color: $color-web-one;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: $line-color;
  border-radius: 20px;
}